<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADMIN - CREATE USER</title>
    <!--    Link-->
    <div th:insert="~{template.html::link}"></div>
</head>
<body>
<div class="app">
    <!--    Header-->
    <div th:insert="~{template.html::header}"></div>
    <!-- Content -->
    <div class="content row my-3 mx-3">
        <div class="col-2">
            <!--    Menu-->
            <div th:insert="~{template.html::menu_left}"></div>
        </div>
        <div class="col-10">
            <h4 class="text-danger">THÊM MỚI NGƯỜI DÙNG</h4>

            <form class="col-8 ms-5 mt-3" th:action="@{/admin/user/doCreate}" method="post" th:object="${newUser}">
                <div class="mb-3">
                    <label class="form-label text-success fw-bold">Tên đăng nhập</label>
                    <input type="text" class="form-control" th:field="*{username}">
                    <span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                </div>
                <div hidden class="mb-3">
                    <label class="form-label text-success fw-bold">Mật khẩu</label>
                    <input type="password" class="form-control" th:field="*{password}">
                    <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label text-success fw-bold">Họ tên</label>
                    <input type="text" class="form-control" th:field="*{fullName}">
                    <span class="text-danger" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label text-success fw-bold">Hình ảnh</label>
                    <img class="p-2 d-block mb-3" th:src="@{'/public/img/user/' + *{image}}" alt="User image" style="width: 220px; height: 220px; border: 1px solid rgb(0 0 0 / 21%);">
                    <input type="file" class="form-control" th:field="*{image}">
                </div>
                <div class="mb-3">
                    <label class="form-label text-success fw-bold">Số điện thoại</label>
                    <input type="text" class="form-control" th:field="*{phoneNumber}">
                    <span class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label text-success fw-bold">Email</label>
                    <input type="email" class="form-control" th:field="*{email}">
                    <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label text-success fw-bold">Địa chỉ</label>
                    <input type="text" class="form-control" th:field="*{address}">
                    <span class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
                </div>
                <div hidden class="mb-3">
                    <label class="form-label text-success fw-bold">Point</label>
                    <input type="text" class="form-control" th:field="*{point}">
                </div>
                <div hidden class="mb-3">
                    <label class="form-label text-success fw-bold">Status</label>
                    <input type="text" class="form-control" th:field="*{status}">
                </div>
                <div class="mb-3">
                    <label class="form-label text-success fw-bold">Role</label>
                    <select class="form-select" aria-label="Default select example" th:field="*{role}">
                        <option th:each="role : ${roleList}" th:value="${role.id}" th:text="${role.name}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Thêm mới</button>
            </form>


        </div>
    </div>
</div>
<!--    JS-->
<div th:insert="~{template.html::script-js}"></div>
</body>
</html>