<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADMIN - ACTIVATE ACCOUNT</title>
    <!--    Link-->
    <div th:insert="~{template.html::link}"></div>
</head>
<body>
<div class="app">
    <!--    Header-->
    <div th:insert="~{template.html::header}"></div>
    <!-- Content -->
    <div class="content row my-3 mx-3">
        <div class="col-2">
            <!--    Menu-->
            <div th:insert="~{template.html::menu_left}"></div>
        </div>
        <div class="col-10">
            <h4 class="text-danger">YÊU CẦU KÍCH HOẠT TÀI KHOẢN</h4>
            <div class="btn-group my-3 d-flex justify-content-end" role="group" aria-label="Basic mixed styles example">
                <form class="d-flex" method="get" th:action="@{/admin/user/find}">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="input_find">
                    <button class="btn btn-success w-50" type="submit">Tìm kiếm</button>
                </form>
            </div>
            <span style="color: blue" class="d-block mb-3 fw-bold" th:if="${mess != null}" th:text="${mess}"></span>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Username</th>
                    <th scope="col">Quyền</th>
                    <th scope="col">Họ tên</th>
<!--                    <th scope="col">Hình ảnh</th>-->
                    <th scope="col">SĐT</th>
                    <th scope="col">Email</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Điểm tích luỹ</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="align-middle" th:each="user, iter: ${userList}" th:object="${user}"  th:if="${user.status == 0}">
                    <th scope="row" th:text="${iter.count}"></th>
                    <td hidden th:text="*{id}"></td>
                    <td th:text="*{username}"></td>
                    <td hidden th:text="*{password}"></td>

                    <td class="text-danger fw-bold" th:if="${user.role.id == 1}" th:text="*{role.name}"></td>
                    <td class="text-success fw-bold" th:if="${user.role.id == 2}" th:text="*{role.name}"></td>

                    <td th:text="*{fullName}"></td>
<!--                    <td><img style="width: 65px; height: 65px;" th:src="@{'/public/img/user/' + *{image}}" alt=""/></td>-->
                    <td th:text="*{phoneNumber}"></td>
                    <td th:text="*{email}"></td>
                    <td th:text="*{address}"></td>
                    <td th:text="*{point}"></td>

                    <td th:if="*{status == 0}" class="text-info fw-bold">Chờ kích hoạt</td>

                    <td class="px-4">
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <a th:href="@{/admin/activateAccount/{id}(id=${user.id})}"><button type="button" class="btn btn-sm btn-warning mx-1">Kích hoạt</button></a>
                            <button type="button" th:onclick="infoDelete([[${user.id}]],[[${user.fullName}]])"
                                    class="btn btn-sm btn-danger mx-1" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                Xoá
                            </button>
                        </div>
                    </td>

                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="/admin/user/delete" method="get">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">XOÁ NGƯỜI DÙNG</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input name="id" id="deleteId" hidden>
                    <span class="text-danger">Xoá người dùng  </span><span id="deleteName"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">OK</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--    JS-->
<div th:insert="~{template.html::script-js}"></div>
<script>
    function infoDelete(id, name) {
        document.getElementById("deleteName").innerText = name;
        document.getElementById("deleteId").value = id;
    }
</script>
</body>
</html>