<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PITCH</title>
    <!--    Link-->
    <div th:insert="~{template.html::link}"></div>
</head>
<body>
<div class="app">
    <!--    Header-->
    <div th:insert="~{template.html::header}"></div>
    <!-- Content -->
    <div class="content row my-3 mx-lg-5">
        <div class="col-9">
            <div class="py-2 my-2 bg-light d-flex" th:object="${company}">
                <img class="p-2" th:src="@{'/public/img/company/' + *{image}}" alt="" style="border-radius: 20px; width: 280px; height: 220px">
                <div class="ms-3 w-100">
                    <span class="d-block my-3 text-danger fw-bold fs-5" th:text="*{name}"></span>
                    <span class="d-block  my-3 text-secondary" style="font-weight: 500">
                                <i class="bi bi-geo-alt-fill me-2"></i>
                                <span th:text="${company.location.name}"></span>
                                <span>(</span>
                                <span th:text="*{address}"></span>
                                <span>)</span>
                            </span>

                    <span class="d-block mb-5 text-success fw-bold">
                                <i class="bi bi-telephone-fill me-2"></i>
                                <span th:text="*{phoneNumber}"></span>
                            </span>
                </div>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" hidden>ID</th>
                    <th scope="col">Sân</th>
                    <th scope="col">Số người</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="align-middle" th:each="pitch, iter: ${pitchList}" th:object="${pitch}">
                    <th:block th:if="${pitch.company.id == company.id}">
                        <td hidden th:text="*{id}">${pitch.id}</td>
                        <td th:text="*{name}"></td>
                        <td th:text="*{peopleMax}"></td>
                        <td th:text="*{price}"></td>
                        <td th:text="*{status}"></td>

                        <td class="px-4">
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <a th:href="@{/booking/create/{id}(id = *{id})}">
                                    <button type="button" class="btn btn-sm btn-success mx-1">Đặt</button>
                                </a>
                            </div>
                        </td>
                    </th:block>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>
<!--    JS-->
<div th:insert="~{template.html::script-js}"></div>
</body>
</html>