<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CHANGE PASSWORD</title>
    <!--    Link-->
    <div th:insert="~{template.html::link}"></div>
</head>
<body>
<div class="app">
    <!--    Header-->
    <div th:insert="~{template.html::header}"></div>
    <!-- Content -->
    <div class="content row my-3 mx-3">
        <div class="col-2">
            <!--    Menu-->
            <div>
                <ul class="list-group admin__menu__left">
                    <a class="text-decoration-none" href="/user/info"><li class="list-group-item bg-success text-white fw-bold py-3">THÔNG TIN CÁ NHÂN</li></a>
                    <a class="text-decoration-none" href="/user/change-password"><li class="list-group-item bg-success text-white fw-bold py-3">ĐỔI MẬT KHẨU</li></a>
                </ul>
            </div>
        </div>
        <div class="col-10">

            <form class="col-8 ms-5" th:action="@{/user/changePassword}" method="post" th:object="${user}">
                <div hidden class="mb-3">
                    <label class="form-label text-success fw-bold">Hình ảnh</label>
                    <img class="p-2 d-block mb-3" th:src="@{'/public/img/user/' + *{image}}" alt="User image" style="width: 220px; height: 220px; border: 1px solid rgb(0 0 0 / 21%);">
                    <input type="file" class="form-control" th:field="*{image}">
                </div>
                <div hidden class="mb-3">
                    <label class="form-label text-success fw-bold">ID</label>
                    <input readonly type="text" class="form-control" th:field="*{id}">
                </div>
                <div hidden class="mb-3">
                    <label class="form-label text-success fw-bold">Tên đăng nhập</label>
                    <input readonly type="text" class="form-control" th:field="*{username}">
                </div>
                <span class="text-danger" th:text="${mess}"></span>
                <div class="mb-3">
                    <label class="form-label text-success fw-bold">Nhập mật khẩu cũ</label>
                    <input type="password" class="form-control" name="oldPassword">
                </div>
                <div class="mb-3">
                    <label class="form-label text-success fw-bold">Nhập mật khẩu mới</label>
                    <input type="password" class="form-control" th:field="*{password}">
                </div>
                <div class="mb-3">
                    <label class="form-label text-success fw-bold">Nhập lại mật khẩu mới</label>
                    <input type="password" class="form-control" name="newPasswordCopy">
                </div>
                <div hidden class="mb-3">
                    <label class="form-label text-success fw-bold">Họ tên</label>
                    <input type="text" class="form-control" th:field="*{fullName}">
                </div>
                <div hidden class="mb-3">
                    <label class="form-label text-success fw-bold">Số điện thoại</label>
                    <input type="text" class="form-control" th:field="*{phoneNumber}">
                </div>
                <div hidden class="mb-3">
                    <label class="form-label text-success fw-bold">Email</label>
                    <input type="email" class="form-control" th:field="*{email}">
                </div>
                <div hidden class="mb-3">
                    <label class="form-label text-success fw-bold">Địa chỉ</label>
                    <input type="text" class="form-control" th:field="*{address}">
                </div>
                <div hidden class="mb-3">
                    <label class="form-label text-success fw-bold">Point</label>
                    <input readonly type="text" class="form-control" th:field="*{point}">
                </div>
                <div hidden class="mb-3">
                    <label class="form-label text-success fw-bold">Role</label>
                    <input readonly type="text" class="form-control" th:field="*{role}">
                </div>
                <button type="submit" class="btn btn-primary mt-2">Lưu thay đổi</button>
            </form>

        </div>
    </div>
</div>
<!--    JS-->
<div th:insert="~{template.html::script-js}"></div>
</body>
</html>