<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CHANGE PASSWORD</title>
    <!--    Link-->
    <div th:insert="~{template.html::link}"></div>
</head>
<body>
<div class="app">
    <!--    Header-->
    <div th:insert="~{template.html::header}"></div>
    <!-- Content -->
    <div class="content row my-3 mx-3">
        <div class="col-2">
            <!--    Menu-->
            <div>
                <ul class="list-group admin__menu__left">
                    <a class="text-decoration-none" href="/user/info"><li class="list-group-item bg-success text-white fw-bold py-3">THÔNG TIN CÁ NHÂN</li></a>
                    <a class="text-decoration-none" href="/user/change-password"><li class="list-group-item bg-success text-white fw-bold py-3">ĐỔI MẬT KHẨU</li></a>
                </ul>
            </div>
        </div>
        <div class="col-10">
            <span style="color: blue" class="fw-bold" th:text="${mess}"></span>
            <span style="color: red" class="fw-bold" th:text="${messErr}"></span>
            <form class="col-8 ms-5 mt-3" th:action="@{/user/change-password}" method="post">
                <div class="mb-3">
                    <label class="form-label text-success fw-bold">Nhập mật khẩu cũ</label>
                    <input type="password" class="form-control" name="oldPassword">
                </div>
                <div class="mb-3">
                    <label class="form-label text-success fw-bold">Nhập mật khẩu mới</label>
                    <input type="password" class="form-control" name="newPassword">
                </div>
                <div class="mb-3">
                    <label class="form-label text-success fw-bold">Nhập lại mật khẩu cũ</label>
                    <input type="password" class="form-control" name="newPasswordAgain">
                </div>
                <button type="submit" class="btn btn-primary mt-2">Lưu thay đổi</button>
            </form>

        </div>
    </div>
</div>
<!--    JS-->
<div th:insert="~{template.html::script-js}"></div>
</body>
</html>