<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>
    <!--    Link-->
    <div th:insert="~{template.html::link}"></div>
</head>
<body>
<div class="app">
    <!--    Header-->
    <div th:insert="~{template.html::header}"></div>
    <!--    Content-->
    <span class="text-danger fw-bold d-block fs-5 px-5 my-5">Bạn không phải là quản trị viên</span>
</div>
<!--    JS-->
<div th:insert="~{template.html::script-js}"></div>
</body>
</html>