<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADMIN - COMPANY</title>
    <!--    Link-->
    <div th:insert="~{template.html::link}"></div>
</head>
<body>
<div class="app">
    <!--    Header-->
    <div th:insert="~{template.html::header}"></div>
    <!-- Content -->
    <div class="content row my-3 mx-3">
        <div class="col-2">
            <!--    Menu-->
            <div th:insert="~{template.html::menu_left}"></div>
        </div>
        <div class="col-10">
            <h4 class="text-danger">DANH SÁCH SÂN BÓNG</h4>
            <div class="btn-group my-3 d-flex justify-content-between" role="group" aria-label="Basic mixed styles example">
                <a href="/admin/company/create">
                    <button type="button" class="btn btn-success"><i class="bi bi-plus-circle me-2"></i>Thêm mới</button>
                </a>
                <form class="d-flex" method="post" action="/admin-company?action=find">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="input_find">
                    <button class="btn btn-success w-50" type="submit">Tìm kiếm</button>
                </form>
            </div>
            <span style="color: blue" class="d-block mb-3 fw-bold" th:if="${mess != null}" th:text="${mess}"></span>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Quận/Huyện</th>
                    <th scope="col">Tên công ty</th>
                    <th scope="col">Hình ảnh</th>
                    <th scope="col">SĐT</th>
                    <th scope="col">Email</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Chủ sân</th>
                    <th scope="col">Ngày tạo sân</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    <tr class="align-middle" th:each="company, iter: ${companyList}" th:object="${company}">
                        <th scope="row" th:text="${iter.count}"></th>
                        <td hidden th:text="*{id}"></td>
                        <td th:text="*{location.name}"></td>
                        <td th:text="*{name}"></td>
                        <td><img style="width: 65px; height: 65px;" th:src="@{'/public/img/company/' + *{image}}" alt=""/></td>
                        <td th:text="*{phoneNumber}"></td>
                        <td th:text="*{email}"></td>
                        <td th:text="*{address}"></td>
                        <td th:text="*{user.username}"></td>
                        <td th:text="*{dateTimeCreated}"></td>
                        <td class="px-4">
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <a th:href="@{/admin/company/edit/{id}(id=${company.id})}"><button type="button" class="btn btn-sm btn-warning mx-1">Sửa</button></a>

                                <button type="button" th:onclick="infoDelete([[${company.id}]],[[${company.name}]])"
                                        class="btn btn-sm btn-danger mx-1" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                    Xoá
                                </button>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="/admin/company/delete" method="get">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">XOÁ CÔNG TY</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input name="id" id="deleteId" hidden>
                    <span class="text-danger">Xoá công ty  </span><span id="deleteName"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">OK</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--    JS-->
<div th:insert="~{template.html::script-js}"></div>
<script>
    function infoDelete(id, name) {
        document.getElementById("deleteName").innerText = name;
        document.getElementById("deleteId").value = id;
    }
</script>
</body>
</html>